body {
    text-align: center;
    color: white;
    background-color: #36393e;
    background-size: cover;
}
.logo {
    background-color: #60666e;
}
button {
    width: 12.5vw;
    height: 7.5vh;
    border: 0.35vw solid #191b1f;
    border-radius: 0.1vw;
    box-sizing: border-box;
    color: white;
    background-color: #707781;
}